<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>NLP Project</title>
    </head>
    <body>
        <header>
            <h1>NLP Project</h1>
            <h2>The Natural Language Processing Project</h2>
        </header>
        <hr />
        <section>
            <h3>Enter your text here</h3>
            <form onsubmit="return Client.handleSubmit(event)">
                <input id="text" name="input" type="text" placeholder="Enter text" value="" />
                <input name="submit" type="submit" placeholder="Submit" onclick="return Client.handleSubmit(event)" />
            </form>
            <div id="result">

            </div>
        </section>
        <hr />
        <footer>
            NLP Project by Abdelhady Salah
        </footer>
    </body>
</html>