<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>NLP Project</title>
    </head>
    <body>
        <header>
            <h1>NLP Project</h1>
            <h2>The Natural Language Processing Project</h2>
        </header>
        <hr />
        <section>
            <h3>Enter your text here</h3>
            <form onsubmit="return Client.handleSubmit(event)">
                <input id="text" name="input" type="text" placeholder="Enter text" value="" />
                <input name="submit" type="submit" placeholder="Submit" onclick="return Client.handleSubmit(event)" />
            </form>
            <div id="result">

            </div>
        </section>
        <footer>
            NLP Project by Abdelhady Salah
        </footer>
        <!-- Reference: https://developers.google.com/web/tools/workbox/guides/generate-service-worker/webpack -->
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
        </script>
    </body>
</html>